#index-teaser {
  margin: 3em 0;
  text-align: center;
  
  > .teaser {
    font-size: 2.5em;
    margin: 1em 0;
    display: inline-block;
  }
  
  // “Create poll” link
  #create-poll {
    font-size: 1.5em
  }
}

#index-features {
  background-color: #BBB;
  padding: 2em;
}