@import "_colors.less";

.tab-widget {

  > .tabs {
    font-size: 1.4em;
  }
  
  > .containers > div {
    display: none;
    
    &:target {
      display: block;
    }
  }
}

#detailed {

  th, td {
    padding: .5em;
    text-align: center;
    
    &:nth-child(odd) {
      background-color: hsla(hue(@blue), saturation(@blue), lightness(@blue), 0.1);
    }
  }
  
  tr:nth-child(odd) {
    background-color: hsla(hue(@blue), saturation(@blue), lightness(@blue), 0.05);
  }
  
  td:first-child {
    font-weight: bold;
  }
}