
.tab-widget {

  > .tabs {
    font-size: 2em;
  }
  
  > .containers > div {
    display: none;
    
    &:target {
      display: block;
    }
  }
}

#detailed {

  th, td {
    padding: .5em;
  }
  
  tr:nth-child(even) {
    background-color: #F7F8F8;
  }
  
  td:nth-child(even) {
    background-color: rgba(188, 202, 214, 0.1)
  }
  
  td:first-child {
    font-weight: bold;
  }
}