@import "_colors.less";

#detailed {

  th, td {
    padding: .5em;
    text-align: center;
    
    &:nth-child(odd) {
      background-color: hsla(hue(@blue), saturation(@blue), lightness(@blue), 0.1);
    }
  }
  
  tr:nth-child(odd) {
    background-color: hsla(hue(@blue), saturation(@blue), lightness(@blue), 0.05);
  }
  
  td:first-child {
    font-weight: bold;
  }
}