@import "_normalize.less";

// General layout
body {
  margin: 0;
}

body > header {
  padding: 1em;
}

body > article {
  padding: 2em;
  background-color: whitesmoke;
}

body > footer {
  padding: 1em;
  font-size: small;
  text-align: center;
}

