@import "_normalize.less";
@import "_colors.less";


// --- Common layout

body {
  margin: 0;
  color: @black;
  background-color: darken(@white, 15%);
}

body > header {
  padding: .5em 1em;
  background-color: @black;
  color: @white;
  
  a {
    color: @white;
    text-shadow: none;
  }
}

body > article {
  background-color: @white;
}

body > article > div.content {
  max-width: 50em;
  margin: 0 auto;
  padding: 1em 2em;
}

body > footer {
  padding: 1em;
  background-color: darken(@white, 15%);
  font-size: small;
  text-align: center;
}


// --- Common styles

a {
  text-decoration: none;
  color: @blue;
  font-weight: bold;
  text-shadow: 1px 1px 0 white;
}
a:hover {
  text-decoration: underline;
  color: @red;
}

.button {
  cursor: pointer;
  background-color: @black;
  padding: 0px 2px;
  color: @white;
}

.overlay {
  background-color: @overlay;
  border-radius: 4px;
  padding: .8em;
}

form {
  .field {
  
    .overlay;
    margin: 0.8em;
  
    > table {
      width: 100%;
      > tbody > tr {
        > .hint {
          width: 25%;
          color: lighten(@black, 10%);
        }
        
        > .input {
        
          padding-left: 1em;
          position: relative;
          
          input[type=text], textarea {
            width: 100%;
          }
          
          .required::before {
            content: "*";
            color: @red;
            position: absolute;
            left: .4em;
          }
        
        }
      }
    }
  }
  
  .submit {
    padding: 1em 5em;
  }

  .error {
    font-weight: bold;
    color: saturate(@red, 15%);
  }
}

.notification {
  > .content {
    padding: .2em;
    &.success {
      background-color: @blue;
    }
    &.error {
      background-color: @red;
    }
  }
}

form.change-locale {
  display: inline;
}

.tab-widget {

  > .tabs {
    font-size: 1.4em;
    > a {
      background-color: @overlay;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      padding: 5px;
      color: lighten(@black, 10%);
      font-weight: normal;
      
      &:hover {
        color: @red;
      }
    }
  }

  > .containers {

    .overlay;

    > div {
      display: none;

      &:target {
        display: block;
      }
    }
  }
}

.tab-widget {
}