@import "_normalize.less";


// --- Common layout

body {
  margin: 0;
}

body > header {
  padding: 1em;
  background-color: whitesmoke;
}

body > article {
  max-width: 50em;
  margin: 0 auto;
  padding: 1em 2em;
}

body > footer {
  padding: 1em;
  background-color: whitesmoke;
  font-size: small;
  text-align: center;
}


// --- Common styles

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.button {
  cursor: pointer;
  background-color: #AAA;
  border: black thin solid;
  padding: 2px;
}

form {
  .field {
  
    border: 1px solid #888;
    border-radius: 5px;
    margin: 0.5em;
    padding: 1em;
    background-color: #EEE;
  
    > .hint {
      float: left;
      width: 12em;
      color: #444;
    }
    
    > .input {
      padding-left: 13em;
      
      input[type=text], textarea {
        width: 100%;
      }
      
      // Pourquoi ça marche pas ?
      .required::before {
        content: "*";
      }
      
    }
    
    > .input:after {
      content: " ";
      clear: both;
    }
  }
  
  .submit {
    padding: 1em 5em;
  }

  .error {
    font-weight: bold;
    color: red;
  }
}

.notification {
  &.success {
    background-color: #7DB827;
  }
  &.error {
    background-color: #DEA666;
  }
}

form.change-locale {
  display: inline;
}