@()(implicit n: Option[notifications.Notification], l: Lang)

@moreHead = {
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/index.min.css")" />
}

@feature(name: String) = {
  <div class="feature">
    <div class="content">
      <h3>@Messages("feature." + name)</h3>
      <p>@Messages("feature." + name + ".content")</p>
    </div>
    <img src="@routes.Assets.at("images/" + name + ".png")" alt="@Messages("feature" + name)" />
  </div>
}

@layout(Messages("index.page.title"), moreHead) {

  <div id="index-teaser">

    <span class="teaser">@Messages("index.teaser")</span>
    <a href="#features">@Messages("tell.me.more")</a>

    <div>
      <a id="create-poll" href="@routes.Chooze.showPollForm()">@Messages("index.poll.create")</a>
    </div>

  </div>


  <div id="features">

    <h2>@Messages("chooze.is.simple")</h2>

    @feature("poll")

    @feature("vote")
    
    @feature("result")

  </div>
}