@(title: String, moreHead: Html = Html(""))(content: Html)(moreScripts: Html = Html(""))(implicit maybeNotification: Option[Notification], l: Lang)

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        @moreHead
    </head>
    <body>
        <header>
            <a href="@routes.Chooze.index()">Chooze</a>
            @for(n <- maybeNotification) {
              @notification(n)
            }
        </header>
        
        <article>
          @content
        </article>
        
        <footer>
          &copy; Zenexity 2012 &mdash; Yohann Bredoux, Julien Richard-Foy, Gwena&euml;lle Georget &mdash;
          @helper.form(action = routes.Chooze.changeLocale(), 'class -> "change-locale") {
            <label>@Messages("languages")
              <select name="locale">
                @play.api.i18n.Lang.availables(play.api.Play.current).map { lang =>
                  <option value="@lang.code" @(if(l.code == lang.code) "selected")>@Messages("lang." + lang.code)</option>
                }
              </select>
            </label>
          }
        </footer>
        @helper.requireJs(module = routes.Assets.at("javascripts/chooze").url, core = routes.Assets.at("javascripts/require.js").url)
        @moreScripts
    </body>
</html>
