@(title: String, moreHead: Html = Html(""))(content: Html)(implicit maybeNotification: Option[Notification], l: Lang)

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        @moreHead
    </head>
    <body>
        <header>
            <a href="@routes.Chooze.index()">Chooze</a>
            @for(n <- maybeNotification) {
              @notification(n)
            }
        </header>
        
        <article>
          @content
        </article>
        
        <footer>
          © Zenexity 2012 — Yohann Bredoux, Julien Richard-Foy, Gwenaëlle Georget —
          @helper.form(action = routes.Chooze.changeLocale(), 'class -> "change-locale") {
            <label>@Messages("languages")
              <select name="locale">
                @play.api.i18n.Lang.availables(play.api.Play.current).map { lang =>
                  <option value="@lang.code" @(if(l.code == lang.code) "selected")>@Messages("lang." + lang.code)</option>
                }
              </select>
            </label>
          }
        </footer>

        <script src="@routes.Assets.at("javascripts/chooze.min.js")" type="text/javascript"></script>
    </body>
</html>
