@(title: String, moreHead: Html = Html(""))(content: Html)(implicit maybeNotification: Option[notifications.Notification], l: Lang)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        @moreHead
    </head>
    <body>
        <header>
            <a href="@routes.Chooze.index()">Chooze</a>
            @for(n <- maybeNotification) {
              @notification(n)
            }
        </header>
        
        @content
        
        <footer>
          © Zenexity 2012 — Yohann Bredoux, Julien Richard-Foy, Gwenaëlle Georget
        </footer>

        <script src="@routes.Assets.at("javascripts/notification.js")" type="text/javascript"></script>
    </body>
</html>
