@(poll: Form[(String, String, List[String])])(implicit n: Option[Notification], l: Lang, t: AuthToken)

@moreHead = {
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/create.min.css")" />
}

@alternativeField(alternative: Field) = {
  <div class="alternative">
    <div style="display: inline-block; width: 95%">
      @form.inputText(alternative, Messages("poll.alternative"))
    </div>
    <span class="button remove-alternative" title="@Messages("remove")">&times;</span>
    @form.errors(alternative)
  </div>
}

@main(Messages("create.page.title"), moreHead) {

  <h1>@Messages("poll.create")</h1>

  @helper.form(action = routes.Chooze.createPoll()) {

    @AuthenticationToken.hiddenField

    @form.field(poll("name"), Messages("poll.name.hint")) { name =>
      @form.inputText(name, Messages("poll.name"))
      @form.errors(name)
    }
    
    @form.field(poll("description"), Messages("poll.description.hint")) { description =>
      @form.textarea(description, Messages("poll.description"), 'rows->5, 'cols->50)
      @form.errors(description)
    }
    
    @form.field(poll("alternatives"), Messages("poll.alternatives.hint")) { alternatives =>
      <div class="alternatives">
        @helper.repeat(alternatives, min = 2) { alternative =>
          @alternativeField(alternative)
        }
      </div>
      <button type=button class="add-alternative">@Messages("poll.alternatives.add")</button>
      @form.errors(alternatives)
    }

    <div class="submit">
      <input type="submit" value="@Messages("create")">
    </div>
  }

  <script type="text/javascript" src="@routes.Assets.at("javascripts/pollform.js")"></script>
  <script>
      window.PollForm.main('@Messages("poll.alternative")', '@Messages("remove")');
  </script>
  <script src="@routes.Assets.at("javascripts/benchmark.js")"></script>
}
