@(poll: Form[(String, String, List[String])])(implicit n: Option[Notification], l: Lang, t: AuthToken)

@moreHead = {
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/create.min.css")" />
}

@main(Messages("create.page.title"), moreHead) {

  <h1>@Messages("poll.create")</h1>

  @helper.form(action = routes.Chooze.createPoll()) {

    @AuthenticationToken.hiddenField

    @form.field(poll("name"), Messages("poll.name.hint")) { name =>
      @util.inputText(name, Messages("poll.name"))
      @forest.form.errors(util.errors(name))
    }
    
    @form.field(poll("description"), Messages("poll.description.hint")) { description =>
      @form.textarea(description, Messages("poll.description"), 'rows->5, 'cols->50)
      @forest.form.errors(util.errors(description))
    }
    
    @form.field(poll("alternatives"), Messages("poll.alternatives.hint")) { alternatives =>
      <div class="alternatives">
        @helper.repeat(alternatives, min = 2) { alternative =>
          @forest.alternativeTmpl(alternative.name, alternative.value.getOrElse(""), true, Messages("poll.alternative"), Messages("remove"), util.errors(alternative))
        }
      </div>
      <button type=button class="add-alternative">@Messages("poll.alternatives.add")</button>
      @forest.form.errors(util.errors(alternatives))
    }

    <div class="submit">
      <input type="submit" value="@Messages("create")">
    </div>
  }

  <script type="text/javascript" charset="utf-8">
    (function() {
      @Html(javascripts.JavaScripts.pollForm)
      pollForm('@Messages("poll.alternative")', '@Messages("remove")');
    })();
  </script>
}
