@(poll: Form[(String, String, List[String])])(implicit n: Option[Notification], l: Lang, t: AuthToken)

@moreHead = {
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/create.min.css")" />
}

@alternativeField(alternative: Field) = {
  <div class="alternative">
    @form.inputText(alternative, Messages("poll.alternative"))
    <span class="button remove-alternative" title="@Messages("remove")">X</span>
    @form.errors(alternative)
  </div>
}

@main(Messages("create.page.title"), moreHead) {

  <h1>@Messages("poll.create")</h1>

  @helper.form(action = routes.Chooze.createPoll()) {

    @AuthenticationToken.hiddenField

    @form.field(poll("name"), Messages("poll.name.hint")) { name =>
      @form.inputText(name, Messages("poll.name"))
      @form.errors(name)
    }
    
    @form.field(poll("description"), Messages("poll.description.hint")) { description =>
      @form.textarea(description, Messages("poll.description"), 'rows->5, 'cols->50)
      @form.errors(description)
    }
    
    @form.field(poll("alternatives"), Messages("poll.alternatives.hint")) { alternatives =>
      <div class="alternatives">
        @helper.repeat(alternatives, min = 2) { alternative =>
          @alternativeField(alternative)
        }
      </div>
      <button type=button class="add-alternative">@Messages("poll.alternatives.add")</button>
      @form.errors(alternatives)
    }

    <div class="alternative-template">
      @alternativeField(poll("alternatives[x]"))
    </div>

    <div class="submit">
      <input type="submit" value="@Messages("create")">
    </div>
  }

  <script type="text/javascript" charset="utf-8">
    (function() {
      var alternatives = $('.alternatives'),
          alternativeTmpl = $('.alternative-template');
      
      $('form').on('click', '.button.remove-alternative', function (e) {
        $(this).closest('.alternative').remove()
        renumber()
        return false
      });
  
      $('.add-alternative').on('click', function (e) {
        var alternative = $(alternativeTmpl.html());
        alternatives.append(alternative);
        renumber();
        alternative.children('input').focus();
        return false
      })
  
      var renumber = function () {
        alternatives.find('input').each(function (i) {
          $(this).attr('name', $(this).attr('name').replace(/alternatives\[.+\]/g, 'alternatives[' + i + ']'))
        })
      };
    })();
  </script>
}
