@(poll: Poll, voteForm: Form[Vote])(implicit flash: play.api.mvc.Flash)

@import helper._

@main(Messages("page.title.vote")) {
	<h1>@poll.name</h1>
	
	<p>
		@poll.description
	</p>
	
	@flash.get("success").map { key =>
		<div class="flash success">
			@Messages("poll.created")
		</div>
	}
	
	@if(voteForm.hasErrors) {
		<div class="alert error">
			Oops. Please fix all errors
		</div>
	}
	
	@helper.form(action = routes.Application.votePost(poll.name)) {
		<fieldset>
    
            @inputText(voteForm("user"), 'label->Messages("user.name"))
            
            @repeat(voteForm("notes")) { note =>
              <p>
                <label>@poll.alternative(note("alternative")("id").value.get.toLong).get.name</label>
                <input type="range" name="@note("value").name" value="@note("value").value" min="0" max="100" step="1" />
                <input type="hidden" name="@note("alternative")("id").name" value="@note("alternative")("id").value" />
              </p>
            }
		</fieldset>
		
		<div class="actions">
			<input type="submit" class="btn primary" value="@Messages("vote")">
		</div>
	}
}