@(poll: Poll, form: Form[Vote])(implicit flash: play.api.mvc.Flash)

@main(Messages("page.title.vote")) {

  <h1>@poll.name</h1>

  <p>@poll.description</p>

  @flash.get("success").map { key =>
    <div class="flash success">@Messages("poll.created")</div>
  }

  @if(form.hasErrors) {
    <div>Oops. Please fix all errors</div>
  }

  @helper.form(action = routes.Chooze.vote(poll.name)) {

    @helper.inputText(form("user"), '_label->Messages("user.name"))

    @helper.repeat(form("notes")) { note =>
      <p>
        <label>
          @poll.alternative(note("alternative")("id").value.get.toLong).get.name
          <input type="range" name="@note("value").name" value="@note("value").value" min="0" max="100" step="1" />
        </label>
        <input type="hidden" name="@note("alternative")("id").name" value="@note("alternative")("id").value" />
      </p>
    }

    <div>
      <input type="submit" value="@Messages("vote")">
    </div>

  }
}
